[build-system]
requires = ["setuptools >= 42", "wheel", "setuptools_scm[toml]>=6.0"]
build-backend = "setuptools.build_meta"


[tool.setuptools_scm]
write_to = "src/rcmodel/version.py"
version_scheme = "python-simplified-semver"
local_scheme = "no-local-version" #Otherwise PYPI doesnt work
